{% extends "base.html" %}
{% block title %}Contact{% endblock %}
{% set active_page = "contact" %}
{% block content %}
{{ super () }}

<h1 class="display-4 my-5">Contact</h1>

<div class="card">
  <h4 class="card-header">For phone and email enquiries</h4>
  <div class="card-body">

     <dl class="row">
       <dt class="col-sm-2">Phone</dt>
       <dd class="col-sm-10">{{ contents.phone }}</dd>

       <dt class="col-sm-2">Email</dt>
       <dd class="col-sm-10"><a href="mailto:{{ contents.email }}">{{ contents.email_title }}</a></dd>

       <dt class="col-sm-2">Address</dt>
       <dd class="col-sm-10">{{ contents.address}}</dd>
     </dl>

  </div>
</div>
{% endblock %}
