{% extends "base.html" %}
{% block title %}Funding{% endblock %}
{% set active_page = "funding" %}
{% block content %}
{{ super () }}

<h1 class="display-4 my-5">Current Funding</h1>

{% for funding in contents.current %}

  <div class="card my-5">
    <h4 class="card-header">{{ funding.title }}</h4>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-2">Source</dt>
        <dd class="col-sm-10">{{ funding.source }}</dd>

        <dt class="col-sm-2">Type</dt>
        <dd class="col-sm-10">{{ funding.type }}</dd>

        <dt class="col-sm-2">Investigators</dt>
        <dd class="col-sm-10">{{ funding.investigators}}</dd>

        <dt class="col-sm-2">Start year</dt>
        <dd class="col-sm-10">{{ funding.start_year }}</dd>

        <dt class="col-sm-2">Duration</dt>
        <dd class="col-sm-10">{{ funding.duration}}</dd>

        <dt class="col-sm-2">Amount</dt>
        <dd class="col-sm-10">{{ funding.amount}}</dd>
      </dl>
    </div>
  </div>

{% endfor %}

<h1 class="display-4 my-5">Recently Completed</h1>

{% for funding in contents.previous %}

  <div class="card my-5">
    <h4 class="card-header">{{ funding.title }}</h4>
    <div class="card-body">
      <dl class="row">
        <dt class="col-sm-2">Source</dt>
        <dd class="col-sm-10">{{ funding.source }}</dd>

        <dt class="col-sm-2">Type</dt>
        <dd class="col-sm-10">{{ funding.type }}</dd>

        <dt class="col-sm-2">Investigators</dt>
        <dd class="col-sm-10">{{ funding.investigators}}</dd>

        <dt class="col-sm-2">Start year</dt>
        <dd class="col-sm-10">{{ funding.start_year }}</dd>

        <dt class="col-sm-2">Duration</dt>
        <dd class="col-sm-10">{{ funding.duration}}</dd>

        <dt class="col-sm-2">Amount</dt>
        <dd class="col-sm-10">{{ funding.amount}}</dd>
      </dl>
    </div>
  </div>

{% endfor %}

{% endblock %}
