{% extends "base.html" %}
{% block title %}Projects{% endblock %}
{% set active_page = "projects" %}
{% block content %}
{{ super () }}

<h1 class="display-4 my-5">Key projects</h1>

<p>The Colorectal Oncogenomics Group seeks to identify and investigate clinically and biologically-relevant subtypes of colorectal cancer (CRC) and their pre-malignant lesions (polyps) through genetic, epigenetic, somatic and histopathological characterisation.</p>

{% for project in contents %}

  <div class="card my-5">
    <h4 class="card-header">{{ project.title }}</h4>
      <div class="card-body">
        <p class="card-text">
          {{ project.description }}
        </p>
      </div>
  </div>
{% endfor %}

{% endblock %}
