{% extends "base.html" %}
{% block title %}Team{% endblock %}
{% set active_page = "team" %}
{% block content %}
{{ super () }}

<h1 class="display-4 my-5">Team members</h1>

  {% for person in contents %}
    <div class="card my-5">
      <h4 class="card-header">{{ person.name }}</h4>
      <div class="card-body">
        <p class="card-text">
	  <div class="row">
            <div class="col-4">
              <img class="img-thumbnail mr-3" src="{{ person.photo }}" alt="{{ person.name }}">
            </div>
            <div class="col-8">
              <p>{{ person.role }}</p>
              <dl>
                <dt>Position</dt><dd>{{ person.level }}</dd>
                <dt>Affiliation</dt><dd>{{ person.affiliation }}</dd>
                <dt>Phone</dt><dd>{{ person.phone }}</dd>
                <dt>Mobile</dt><dd>{{ person.mobile }}</dd>
                <dt>Email</dt><dd><a href="mailto:{{ person.email }}">{{ person.name }}</a></dd>
            </div>
	  </div>
          <h4>Career summary</h4>
          {{ person.career }}
      </div>
    </div>
  {% endfor %}

{% endblock %}
